body {
    background-image: radial-gradient(circle at 99.41% 50%, #818efc 0, #9de7fc 25%, #b3cbd4 50%, #73b6cc 75%, #b3aedb 100%);
    margin: 20px;  
}
#container{
    font-size: 20px;
    display: inline-block;
    
    border-radius: 10px;
 
}
.container-a {
    height: 300px;
    width: 600px;
}
p{
    font-size: 23px;
}