/*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');*/
  
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: border-box;
    font-family: 'amatic sc', sans-serif;
}
.logo {
    display: flex;
    align-items: flex-start;
    width: 200px;
    padding: 10px;
    margin: 10px;
} 
a:hover {
    text-decoration: none;
     background-color:rgb(52, 180, 174);
     border-radius: 4px;
}

.imagens {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}
    
h1 {
    color: black;
    border-radius: 20px;
}
.header-wrapper {
   height: 75px;
   background-size: 400% 400%;
   display: flex;
   align-items: center;
   padding: 10px;
   flex-wrap: wrap;
   background:  rgb(23, 41, 117); 
}
.grid1 {
    background: rgb(97, 76, 218);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 5px;
    background-image: radial-gradient(circle at 99.41% 50%, #818efc 0, #9de7fc 25%, #b3cbd4 50%, #73b6cc 75%, #b3aedb 100%);
}
.titulo {
    border-radius: 10px;
    color: black;
}
.tit1 {
        color: black;
}

#hero {
    color: b;
    font-size: 22px;
    height: 300px;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin: 50px;
    border-radius: 10px 10px 10px 10px;
    
      /*Texto 1*/
}
#container {
    justify-content: space-between;
    width: 100%;
    height: 15px;
    padding: 0px;
    margin-top: -10px;
}

.sub-titulos {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(39, 18, 66) 0%, rgb(75, 21, 12) 93%);
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    font-size: 18px;
    display: flex;
    margin: auto;
}
.container0 {
    background: rgb(23, 41, 117);
    height: 45px;
}
.sub-titulos li {
    display: flex;
    color: white;
    margin-left: 150px;
}
.sub-titulos li a {
    display: flex;
    color: white;
    display: block;
}
.txt2 {
    color:rgb(20, 18, 18);
    font-size: 18px;
   
    
    
}
.grid2 {
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 20px;
}
.grid2 >div:nth-child(1){
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
    /*1 div externa grid 2 */
}
.txtdiv3 {
    color: rgb(30, 13, 182);
    /*Cor das letras dentro da div interna 3*/
}
.txtdiv4 {
    color: rgb(50, 13, 182)
    /*Cor das letras dentro da div interna 3*/
}
.grid2 >div:nth-child(2){
    display: block;
    height: 400px;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
}
.text3 {
    background-color: #aecad4;
    box-shadow: 0px 0px 5px 0px;
    /*div externa tex3*/
}
.txt4 {
    background-color: #aecad4;
    box-shadow: 0px 0px 5px 0px;
    /*texto Imagem Usg*/
}
.grid3 {
    height: 385px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 5px;
}
#divexterna6 {
    border-radius: 0px;
}
#divinterna6 {
    padding: 50px;
}
.txt5 {
    text-align: center;
}
.txt6 {
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}
#text5 {
    background-color: rgb(99, 101, 124);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 3px 6px 10px rgb(19, 26, 19);
    /*div interna ultimo card*/
}

@media (max-width:768px) {
    .grid1,.grid2,.grid3 {
     grid-template-columns: 1fr;
  }
}
.social-media {
    margin-top: 1rem;
    display: flex;
}
.social-media a {
    text-decoration: none;
    /*color:rgb(179, 41, 41);*/
    font-size: 16px;
    /*border: 1px solid rgb(21, 184, 76);*/
    min-width: 4rem;
    height: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.0675, 0.97);
}
.grid4 {
    width: 100%;
    height: 380px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: radial-gradient(circle at 99.41% 50%, #818efc 0, #49b1ce 25%, #b3cbd4 50%, #73b6cc 75%, #b3aedb 100%);
}
.contatos {
    width: 635px;
    height: 350px;
    margin: 5px;
    padding: 10px;
}
.redes {
    width: 600px;
    height: 300px;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 10px;
    font-size: 30px;
    flex-direction: row;

    
}


.estl{
    width: 295px;
    height: 25px;
}
.innertex {
    width:150px;
    height: 25px;
    width: 295px;
    font-weight: bold;
}
.grid5 {
    font-size: 15px;
    height: 80px;
    width: 100%;
    background-color: #151c5c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.foto1 {
    margin: 20px;
    height: 350px;
    width: 600px;
    border-radius: 10px;
}
@keyframes backgroundTransition {
0% {
    background-position: 0% 80%;
}
50% {
    background-position: 80% 100%;
}
100% {
    background-position: 0% 90%;
 }
}

.menu-items {
    background-image: radial-gradient(circle at 99.41% 50%, #818efc 0, #9de7fc 25%, #b3cbd4 50%, #73b6cc 75%, #b3aedb 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-items ul {
    list-style-type: none;
}
.checkbox-container {
    display: flex;
    justify-content: center ;
    align-items: center;
}
.checkbox {
    height: 75px;
    width: 60px;
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out;
}
.checkbox .trace {
    width: 35px;/*Tamanho dos traços*/
    height: 1px;
    background-color: white;
    position: absolute;
    border-radius: 1px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
    top: 36px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 46px;
    transform: rotate(0);
}
#toggle {
    display: none;
}

/*menu*/
.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}
.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}
.menu-items ul li a{
    margin: 10px 0;
    color: #2E1C2B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}
/*ANIMÇÃO DO MENU*/
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #2E1C2B;
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #2E1C2B;
    top: 48px;
}
#toggle:checked + .checkbox {
    background-color: white;
}
#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}
#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}
.icones {
    display: flex;
    justify-content: end;
    border-radius: 4px;
}


form {
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
    margin-top: 1px;
    gap: 4px;
}

.kk{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    border-bottom: 0px;
    
}
form div:nth-child(3) {
    grid-column: 1/-1;
}

input {

    border-radius: 4px;
    width:100px;
    border: none;
}
.tt{

    width: 300px;
    

}
textarea {
    width: 295px;
    height: 150px;
    border-radius: 6px;
}
button {
    display: flex;
    padding:1px;
    border: none;
    border-radius:  2px;
    font-size: 18px;
    color: red;
    background-color: #151c5c;
    align-items:center;
    
    
}


