body {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: border-box;
    font-family: 'amatic sc', sans-serif;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: flex-start;
    width: 10%;
    height: 80px;
} 

.search-box {
    margin-top: 50px;
    position: absolute;
    left: 50%;  
    transform: translate(-50%, -50%);
    background: white;
    height: 15px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loupe-white{
    display: none;
    height: 20px;
}

.loupe-blue{
    height: 25px;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 1.2em;
    width: 0;
    padding: 0;
    transition: 0.4s;

}
.search-btn{
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

}
.search-box:hover > .search-text {
    width: 320px;
    padding-left: 20px;
}
.search-box:hover> .search-btn{
    background: #2c59ac;
}
.search-box:hover> .search-btn .loupe-blue {
    display:none;
}
.search-box:hover > .search-btn .loupe-white {
    display: block;
}
.imagem-1 {
    position: absolute;
    width: 690px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    justify-content: end;
    padding: 0;
    margin: auto;
    margin-top: 10px;
}

.header-wrapper {
   height: 75px;
   background-size: 400% 400%;
   display: flex;
   align-items: center;
   padding: 10px;
   flex-wrap: wrap;
   background:  rgb(29, 23, 117); 
}
.grid1 {

    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 350px;
    grid-template-columns: repeat(2, 1fr);
    padding: 4px;
    background-image: radial-gradient(circle at 99.41% 50%, #818efc 0, #9de7fc 25%, #b3cbd4 50%, #73b6cc 75%, #b3aedb 100%);
}
.titulo {
    width: 500px;
    color: rgb(36, 33, 33);
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 60px;
    padding: 10px;

    
}
.paragrafo-1 {
    color: rgb(24, 26, 24);
    font-size: 1.4em;
    width: 460px;
    display: flex;
    justify-content: center;
    margin: 10px;

}


#hero {
    color: white;
    width: 580px;
    height: 270px;
    justify-content: center;
    margin: 10px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
      /*Texto 1*/
}

@media screen and (max-width:769px) {
    .titulo, .paragrafo-1, .imagem-1 {
        width: 100%;
    }
}

#container {
    background-color: rgb(23, 41, 117);
    width: 100%;
    height: 42px;
    box-shadow: 0px 0px 10px 0px;
}
.subtitulos {
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 1.4em;
    box-sizing:border-box;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.subtitulos li a {
    text-decoration: none;
    display: flex;
    color: rgb(247, 238, 238);
    flex-wrap: wrap;
    
}
.grid2 {
    padding: 30px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: radial-gradient(circle at 99.41% 50%, #818efc 0, #9de7fc 25%, #b3cbd4 50%, #73b6cc 75%, #b3aedb 100%);
}

/*.imagem-a{
    background-color: rgb(46, 105, 81);
    height: 500px;
    width: 350px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 0px;
    box-shadow: 10px 10px 10px 10px;

} */

.imagemfisio {
    position: relative;
    width: 500px;
    height: 287px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 3px 0px;
    

}
.video {
    width: 500px;
    height: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    padding: 3px;
}

.titulo1{
    font-size: 1.8em;
    width: 450px;
    display: flex;
    justify-content: center;
    margin-left: 85px;
    color:rgb(15, 15, 15);
    padding: 5px;
    

}
.paragrafo1 {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    color:black;
    width: 450px;
    height: 135px;
    margin-left: 90px;
}
.titulo2 {
    font-size: 1.8em;
    width: 450px;
    display: flex;
    justify-content: center;
    color: black;
    margin-left: 110px;
}
.paragrafo2 {
    font-size: 1.4em;
    width: 450px;
    display: flex;
    justify-content: center;
    margin-left: 110px;
    color: black;

}


.grid3 {
    height: 310px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 20px;
   background-color: #73b6cc;
}
.foto4 {
    width: 560px;
    height: 300px;
    margin-left: 20px;
}

#divinterna6 {
    padding: 20px;
}
.txt5 {

    font-size: 1.8em;
    color: black;
    text-align: center;
    margin-left: -90px;
    margin-top: 5px;
}
.txt6 {
    width: 500px;
    font-size: 1.4em;
    color: black;
    margin-left: 85px;
    margin-top: 10px;
}


@media (max-width:768px) {
    .grid1,.grid2,.grid3{
     grid-template-columns: 1fr;
  }
}
.social-media {
    margin-top: 1rem;
    display: flex;
}
.social-media a {
    text-decoration: none;
    /*color:rgb(179, 41, 41);*/
    font-size: 16px;
    /*border: 1px solid rgb(21, 184, 76);*/
    min-width: 4rem;
    height: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.0675, 0.97);
}
.grid4 {
    width: 100%;
    height: 520px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: radial-gradient(circle at 99.41% 50%, #b2b3bd 0, #9de7fc 25%, #b3cbd4 50%, #a8bac0 75%, #b3aedb 100%);
}
.contatos {
  
    font-size: 18px;
    width: 50%;
    height: 50px;

}
.faleconosco {
    color:black;
    margin-left: 30px;
}
.telefones {
   
    width: 50%;
    height: 130px;
    font-size: 25px;
}
.telefones a {
    text-decoration: none;
}

.grid6 {
   background-color: #aed1dd;
   width: 100%;
}
.redesociais {
    width: 7%;
    margin: 2px;
    margin-left: 10px;

}


.div1 {
    display: inline-block;
    width: 50%;
    height: 200px;
    float: left;
    margin-left: 25px;
}
.div1 a{
   
    margin: 10px;
    
}
.div2 {
    
    display: inline-block;
    width: 45%;
    height: 300px;
   

}
.div2 a {
    text-decoration: none;
}
.estl{
    width: 40%;
    height: 25px;
}
.innertex {
    width:25px;
    height: 25px;
    width: 295px;
    font-weight: bold;
}
.grid5 {
    font-size: 15px;
    height: 80px;
    width: 202%;
    background-color: #6a6f99;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes backgroundTransition {
0% {
    background-position: 0% 80%;
}
50% {
    background-position: 80% 100%;
}
100% {
    background-position: 0% 90%;
 }
}

.menu-items {
    background-image: radial-gradient(circle at 99.41% 50%, #818efc 0, #9de7fc 25%, #b3cbd4 50%, #73b6cc 75%, #b3aedb 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-items ul {
    list-style-type: none;
}
.checkbox-container {
    display: flex;
    justify-content: center ;
    align-items: center;
}
.checkbox {
    height: 75px;
    width: 60px;
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out;
}
.checkbox .trace {
    width: 35px;/*Tamanho dos traços*/
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 1px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
    top: 36px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 46px;
    transform: rotate(0);
}
#toggle {
    display: none;
}

/*menu*/
.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}
.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}
.menu-items ul li a{
    margin: 10px 0;
    color: #2E1C2B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}
/*ANIMÇÃO DO MENU*/
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #2E1C2B;
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #2E1C2B;
    top: 48px;
}
#toggle:checked + .checkbox {
    background-color: white;
}
#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}
#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}
.icones {
    display: flex;
    justify-content: end;
    border-radius: 4px;
}


form {
    display: grid;
    max-width: 580px;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
   margin-left: 30px;
}

.kk{
    
    font-size: 20px;
    width: 240px;
    color: black;
    display: flex;
    flex-direction: column;
    border-bottom: 0px;
    margin-top: 30px;
    
    
}

form div:nth-child(3) {
    grid-column: 1/-1;
    
}
.innertext {
    width: 280px;
    height: 38px;
}
.innertexte {
    width: 280px;
    height: 38px;


}
input {

    width:100px;
}

textarea {
    width: 550px;
    height: 210px;
}
button {
    width: 85px;
    display: flex;
    border: none;
    border-radius:  2px;
    font-size: 18px;
    color: black;
    background-color: white;
    align-items: center;
    padding: 8px;
    margin: 10px;

    
    
}
.rodape {
    background-color: #061386;
    width: 100%;
    height: 80px;
    
}
.fim{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

