body{
    
    background-image: radial-gradient(circle at 99.41% 50%, #818efc 0, #9de7fc 25%, #b3cbd4 50%, #73b6cc 75%, #b3aedb 100%);
    margin: 20px;  
    font-size: 20px;
    
}

img{
    width: 600px;
    height: 290px;
}
li{
    font-size:20px;
}
